       <div class="footer sticky-button">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-6 foot-down" style="font-size: small;">
                             © 2023 Lights O'clock All rights reserved.
                        </div>
                        <div class="col-md-4 col-6" style="font-size: small;">
                             designed by <a href="https://instagram.com/ultraweb">Ultraweb</a>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="/about-us">About</a>
                                <a href="/contact">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- JavaScript Libraries -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/stylesheet/lib/easing/easing.min.js"></script>
    <script src="/stylesheet/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/stylesheet/js/main.js"></script>
    <!-- Contact Javascript File -->
    <script src="/stylesheet/mail/jqBootstrapValidation.min.js"></script>
    <script src="/stylesheet/mail/contact.js"></script>

    <!-- Template Javascript -->
   
</body>
</html>