<%- include('partials/header.ejs')%>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post" action="/support/ticket/new">
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Your Name" name="ticket[sender]" required>
                            <p></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Your Email" name="ticket[email]" required>
                            <p ></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Subject" name="ticket[subject]" required>
                            <p ></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Body" name="ticket[text]" style="height: 150px;" required></textarea>
                            <p></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4 btn-bd-ra" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe id="embeddedMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15885.803602096925!2d7.0297425287296536!3d5.49986331222422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10425967a4bf8747%3A0x7cedc3c05a8fd141!2sLights%20o%E2%80%99clock!5e0!3m2!1sen!2sng!4v1690473115318!5m2!1sen!2sng" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-info mr-3"></i>Plot 108 ikenegbu layout, 460281, Owerri, Imo</p>
                    <p class="mb-2"><img src="/files/email_logo.jpg" class="mr-3 logo-small"></i>info@lightsoclock.com</p>
                    <p class="mb-2"><img src="/files/mobile_logo.jpg" class="mr-3 logo-small"></i>+234 916 119 5137</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <%- include('partials/footer.ejs')%>