<%- include('partials/header.ejs')%>
    <br>
     <center>
 <h1>404:Page Not found</h1>
    <h4>The page you requested couldn't be found</h4>
   </center>
   <br>
   <br>
   <br>
   <br>
<%- include('partials/footer.ejs')%>