<%- include('partials/header.ejs')%>
<div class="container">
 <center>
  <h1>Privacy Policy</h1>
        <br>
  <h2>Information We Collect</h2>
  <p>We may collect the following types of personal information:</p>
  <ol>
    <li>Information You Provide: When you interact with us or use our Services, you may provide us with information such as
      your name, email address, phone number, and other contact details.</li>
    <li>Automatically Collected Information: When you access and use our Services, we may automatically collect certain
      information about your device, browsing actions, and usage patterns. This information may include your IP address,
      browser type, operating system, and referring URLs.</li>
    <li>Cookies and Similar Technologies: We may use cookies and similar technologies to collect information about your
      preferences and activities while using our website.</li>
  </ol>

  <h2>How We Use Your Information</h2>
  <p>We use the information we collect for the following purposes:</p>
  <ul>
    <li>To provide, maintain, and improve our Services.</li>
    <li>To personalize your experience and deliver content and product offerings relevant to your interests.</li>
    <li>To communicate with you about updates, promotions, and important notices.</li>
    <li>To respond to your inquiries, comments, or customer service requests.</li>
    <li>To detect, prevent, and address technical issues, security breaches, or illegal activities.</li>
  </ul>

  <h2>Data Sharing and Disclosure</h2>
  <p>We may share your personal information with third parties in the following circumstances:</p>
  <ul>
    <li>With service providers, contractors, or agents who perform services on our behalf.</li>
    <li>To comply with legal obligations or respond to lawful requests from public authorities.</li>
    <li>In connection with the sale, merger, or acquisition of all or part of our company.</li>
  </ul>

  <h2>Your Choices</h2>
  <p>You may have the following choices regarding your personal information:</p>
  <ul>
    <li>You can access and update your personal information through your account settings, where applicable.</li>
    <li>You can unsubscribe from our marketing communications by following the instructions in the emails we send.</li>
  </ul>

  <h2>Security</h2>
  <p>We implement reasonable security measures to protect your personal information from unauthorized access or disclosure.
  </p>

  <h2>Data Retention</h2>
  <p>We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy
    Policy unless a longer retention period is required or permitted by law.</p>

  <h2>Changes to this Privacy Policy</h2>
  <p>We may update this Privacy Policy from time to time. The updated version will be posted on our website with the
    effective date of the changes.</p>

  <h2>Contact Us</h2>
  <p>If you have any questions, concerns, or requests regarding this Privacy Policy or your personal information, please
    contact us at:</p>
  <p>Lightsoclock<br>Email: info@lightsoclock.com</p>

    </center>
    </div>
<%- include('partials/footer.ejs')%>